<h1>Login</h1>

<form action="/api/sessions/loginCurrent" method="post">
    <input type="email" placeholder="Ingrese se email" name="email">
    <input type="password" placeholder="Ingrese su contraseña" name="password">
    <br><br>
    <input type="submit" value="Ingresar">
</form>
